body{
    background-size: cover;
}

.heading{
    font-size: 26px;
    width:100% ;
    margin: 0px;

}

#start,#number_of_objects{

    font-size: 18px;

}

.copyright_footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    color: beige;
    background-color: brown;
    text-align: center;
    line-height: 2;
}

